
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      
     <h1> Thank you for sopping with Jungle</h1>
     <p>
      This is a confirmation receipt for your recent purchase on Jungle
     </p>
     <p>
      Here is your order summary:
     </p>
      <% @order.line_items.each do |item| %>
        <p>
          <%= item.product.name %>
        </p>
        <p>
          <%= item.product.description %>
        </p>
      <% end %>
     <p>
      Your total: <%= @order.total %>
     </p>
     <p>Thank you for shopping with us</p>
  </body>
</html>